/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

/* SECTIONS STYLES */
@import "./header/header.css";
@import "./select-tour/select-tour.css";
@import "./tour-form/tour-form.css";
@import "./reviwes/reviwes.css";
@import "./travel-photos/travel-photos.css";
@import "./stories/stories.css";
@import "./footer/footer.css";

/* VARIABLES */
@import "./vars.css";

/* GENERAL */
* {
  margin: 0;
  padding: 0;

  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background: var(--Beige100);
}
