@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
@import "./vars.css";
@import "./header/header.css";
@import "./section-1/section-1.css";
@import "./section-2/section-2.css";
@import "./section-3/section-3.css";
@import "./section-4/section-4.css";
@import "./section-5/section-5.css";
@import "./footer/footer.css";

* {
  margin: 0;
  padding: 0;

  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background: var(--Beige100);
}
