/* COLORS */
:root {
  --Black: #1b1f2b;
  --White: #ffffff;
  --Orange100: #f8e6be;
  --Orange200: #efa501;
  --Gray100: #f1f3f2;
  --Gray200: #d9dfdb;
  --Gray300: #a6a6a6;
  --Green100: #e0f0e5;
  --Green200: #627f7e;
  --Green300: #3b7e7b;
  --Green400: #286562;
  --Beige100: #f9f7f4;
  --Beige200: #f4f0e9;
}

/* TYPOGRAFY */
.link:active {
  color: var(--Gray300);
}
.h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
}

.h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
}

.h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}

.p-big {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}

.p-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}

.p-small {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
}

a {
  text-decoration: none;
  color: var(--Black);
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
