/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 135px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  width: 100%;
  padding: 0 20px;
  margin-bottom: 135px;
}

.footer__img {
  max-width: 370px;
  max-height: 370px;
  width: 100%;
  height: 100%;

  border-radius: 50px;

  color: var(--Black);
}

.footer__title {
  max-width: 371px;
  width: 100%;
  margin-bottom: 20px;
}

.footer__subtitle {
  color: var(--Gray300);
}
.footer__contacts {
  display: flex;
  background: var(--Beige200);

  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 88px;
}

.contacts__title {
  color: var(--Gray300);
}

.contacts__socials {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.contacts__item {
  display: flex;
  align-items: center;
  color: var(--Black);
  gap: 12px;
}

.socials__title {
  text-decoration: none;
  color: var(--Black);
}

.footer__contacts__socials--title:hover {
  text-decoration: underline;
}

.socials__title:active {
  color: var(--Green400);
}

/* TABLET */
@media (max-width: 620px) {
  .footer-container {
    flex-direction: column;
  }
  .footer__contacts {
    flex-direction: column;
  }
  .footer__title {
    text-align: center;
  }
  .footer__subtitle {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer-content {
    width: 85%;
  }
}

/* MOBILE */

@media (max-width: 425px) {
  .footer {
    padding-top: 75px;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
    width: 84%;
    margin-bottom: 75px;
  }

  .footer__title {
    text-align: center;
  }
  .footer__subtitle {
    text-align: center;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .contacts__socials {
    gap: 18px;
    /* margin: 0 30px; */
  }
  .socials__title {
    height: 21px;
  }
  .contacts__icon {
    transform: scale(0.77);
  }
  .contacts__item {
    gap: 6.5px;
  }

  .footer__img {
    max-width: 130px;

    width: 100%;

    border-radius: 20px;
  }
}
