/* SECTION 3 */

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 135px;
}

.section-3__title {
  color: var(--Black);

  text-align: center;

  margin-bottom: 30px;
}

.section-3__subtitle {
  color: var(--Gray300);
  text-align: center;

  max-width: 418px;
  max-height: 56px;

  width: 100%;
  height: 100%;

  margin-bottom: 100px;
}

.review-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  margin: 0 53px;
}
.review {
  padding: 40px;
  max-width: 570px;
  min-height: 673px;

  width: 100%;

  background: var(--Beige200);
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 30px;
}

.review__textblock {
  color: var(--Black);
}

.profile {
  padding-top: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__name {
  margin-bottom: 8px;
  color: var(--Black);
}

.profile__tour {
  color: var(--Gray300);
}

/* TABLET */

@media (max-width: 1024px) {
  .review-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* MOBILE */

@media (max-width: 425px) {
  .section-3 {
    padding-top: 75px;
    margin: 0;
  }
  .section-3__title {
    margin-bottom: 20px;
  }
  .section-3__subtitle {
    margin-bottom: 50px;
  }
  .review-wrapper {
    margin: 0 21px;
  }

  .review {
    padding: 20px;

    min-height: 408px;
    border-radius: 20px;
  }
}
