@media (max-width: 768px) {
  .header__nav__list {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header__nav__list {
    gap: 30px;
  }
}

@media (max-width: 620px) {
  .h1 {
    font-size: 66px;
  }
  .h2 {
    font-size: 45px;
  }
}
