.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 135px;
}

.section-1__title {
  color: var(--Black);
  margin-bottom: 35px;
}

.section-1__menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 106px;
}
.section-1__menu--item {
  color: var(--Black);

  cursor: pointer;
}
.section-1__menu--item:hover > a {
  text-underline-offset: 10px;
}

.active > a {
  text-decoration: underline;
  text-underline-offset: 10px;

  color: var(--Orange200);
}
/* the hell  */

.section-1__options {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-container {
  overflow: hidden;
  -webkit-border-radius: 50px;
}

.card {
  min-width: 370px;
  width: 100%;
  height: 531px;
  color: var(--White);
  position: relative;
}

.grad {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );

  z-index: 2;
}
.card-bg {
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: bottom;

  transition: all 0.3s ease;
}
/* hell ends */
.card:hover .card-bg {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.card:hover .secondary-btn {
  text-decoration: none;

  border-radius: 50px;
  background: var(--Green400);
}
.card__title {
  width: 270px;
  height: 86px;

  padding: 50px;

  position: absolute;
  z-index: 2;
}

.card__subtitle {
  padding: 152px 0 0 50px;

  position: absolute;
  z-index: 2;
}

.secondary-btn {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 50px;
  left: 30px;

  text-decoration: none;
  color: var(--White);

  padding: 7px 20px;

  z-index: 2;
}

.secondary-btn:active {
  border-radius: 50px;
  background: var(--Orange200) !important;
}

.section-1__option--item__details--title {
}

/* TABLET */
@media (max-width: 1024px) {
  .section-1__options {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    min-width: 0;
  }
}

@media (max-width: 600px) {
  .section-1__options {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* MOBILE */

@media (max-width: 425px) {
  .section-1 {
    padding-top: 75px;
  }

  .section-1__title {
    margin-bottom: 30px;
  }

  .section-1__menu {
    padding: 0;
    margin: 0 51px;
    justify-content: center;
    gap: 10px;
  }

  .section-1__options {
    margin-top: 50px;
  }
  .card:hover .secondary-btn {
    background: transparent;
  }
  .card-container {
    -webkit-border-radius: 20px;
  }

  .card {
    min-width: 318px;
    width: 100%;
    height: 318px;
  }

  .card__title {
    width: 100%;
    height: 86px;

    padding: 25px;
  }
  .card__subtitle {
    padding: 66px 0 0 25px;
  }
  .secondary-btn {
    padding: 0;
    left: 25px;
    bottom: 25px;
  }
}
