@media (max-width: 425px) {
  .section-5 {
    padding-top: 75px;
    margin: 0 21px;
  }
  .section-5__story-card {
    height: 455px;
    border-radius: 25px;
  }
  .section-5__title {
    margin-bottom: 20px;
  }

  .section-5__subtitle {
    margin-bottom: 50px;
  }
  .story--title {
    margin-bottom: 20px;
    width: 50%;
  }
  .story__content {
    padding: 30px;
  }
  .story__socials {
    display: none;
  }

  .story__ditales {
    bottom: 30px;
    gap: 16px;

    padding: 7px 21px;
    margin-left: -21px;
    margin-bottom: -7px;
    border-radius: 50px;
  }
}
